*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #028fb6 0%, #8beff4 0%, #3ea9c16a 100%);
  font-family: "Kiwi Maru", serif;
  font-weight: 300;
  font-style: normal;
  text-indent: 1px;
}

form {
  width: 500px;
  margin: auto;
  background-color: #009fc3b1;
  padding: 100px;
}

h1,
h2,
h3,
p {
  text-align: center;
  color: beige;
}

input[type="email"] {
  height: 40px;
  width: 250px;
}

input[type="password"] {
  height: 40px;
  width: 250px;

}

input[type="submit"] {
  height: 40px;
  width: 100px;
  color: darkslateblue
}

h1 {
  padding-bottom: 20px;
}

h2 {
  height: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
}

h3 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
  margin-top: 20px;
}

/* ボタン */
.link-button {
  margin-top: 20px;
  text-align: center;
  background-color: #2990D6;
  border-radius: 25px;
  display: inline-block;
  width: 90px;
  text-decoration: none;
  color: aliceblue;
}


/* ------------メディアクエリーここから-------------- */
@media (max-width: 800px) {
  form {
    max-width: 370px;
    margin: auto;
    background-color: #009fc3bd;
    padding: 30px 10px 25px 10px;
  }
}