@charset "utf-8";



/* -----------------------------SHOPここから */

.site-menu ul li:nth-child(3) a{
  color: #2990D6;
}

.SHOP-AREA p{
  margin-top: 10px;
  text-align: center;
}

.item-list{
  width: 1200px;
  display: flex;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 10px;
}
.item-list li{
  list-style-type: none;
  width: 450px;
}
.item-list img{
  width: 80%;
}
.item-list p,dt{
  text-align: center;
}
.item-list p{
  font-size: 150%;
}
.tax{
  font-size: 15px;
}
/* -----------------------------------------------------------------レスポンシブここから */

@media(max-width:800px) {
  .item-list{
    flex-direction: column;
    width: 360px;
    margin-top: 5px;
    padding-top: 0;
  }
  h1{
    margin-top: 130px;
  }
  .SHOP-AREA {
    margin-top: 20px;
  }
  .item-list {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  .item-list li {
    list-style-type: none;
    width: 350px;
    margin-bottom: 40px;
}
}