@charset "utf-8";

/* ----------------------------------NAVここから */


.site-menu ul li a {
  color: initial;
}

.site-menu ul li a:hover {
  color: initial;
}

.site-menu ul li:nth-child(2) a{
  color: #2990D6;
}




/* ----------------------------------ABOUTここから */


p::first-letter {
  font-size: 30px;
}
p.bite::first-letter{
  font-size: 120%;
}

.about-first p {
  text-align: center;
  line-height: 3em;
  width: 1000px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

.about-first img {
  margin-top: 80px;
}
.about-color{
  background-color:#f2f7fc;
  margin-top: 10px;
}

.about-second{
  margin-top: 150px;
}
.about-second img {
  width: 40%;
}

.about-second h2 {
  text-align: center;
  margin: 40px;
  font-weight: lighter;
  font-size: 120%;
}

.about-second p {
  text-align: left;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  line-height: 2.5em;
}

.blue{
  margin-top: 0;
}
.color{
  margin: 20px;
  text-align: left;
}
span {
  font-size: 120%;
}
.about-third{
  margin-top: 150px;
  margin-bottom: 50px;
}
.about-third img {
  width: 70%;
  margin-top: 50px;
}

.about-third p {
  text-align: left;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  line-height: 2.5em;
}


/* -----------------------------------------------------------------レスポンシブここから */

@media(max-width:800px) {
  p::first-letter {
    font-size: 25px;
  }
  h1 {
    margin-top: 80px;
  }
p{
  text-align: left;
}
.about-first{
  margin-top: 110px;
  margin-bottom: 90px;
}
.about-first img{
  margin-top: 30px;
}
  .about-first p {
    line-height: 2.3em;
    width: 350px;
    margin-top: 50px;
    margin-bottom: -30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

.about-second h2 {
  text-align: center;
  margin: 20px;
  font-weight: lighter;
  font-size: 120%;
      width: 350px;

}

.about-second p {
  width: 350px;
  line-height: 2.3em;
  font-size: 12px;
  margin-bottom: -20px;
}

.about-third{
  margin-top: 100px;
}
.about-third p{
  width: 350px;
  line-height: 2.3em;
  font-size: 12px;
  margin-top: 40px;
  margin-bottom: -10px;
}
.about-third img {
  width: 70%;
  margin-top: 40px;
}
}