@charset "utf-8";


/* ----------------------------------共通の設定 */

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #DCEAE9;
  color: #111212;

  font-family: "Hina Mincho", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 120%;
}

/* --------一文字目大きくするのと解除する */
p::first-letter {
  font-size: 30px;
}
.first-view p::first-letter{
  font-size: 100%;
}
p.free-shipping::first-letter{
  font-size: 100%;
}
p#copyright::first-letter{
  font-size: 100%;
}
p.price::first-letter{
  font-size: 100%;
}
p.free-shipping::first-letter{
  font-size: 100%;
}
p.tax::first-letter{
  font-size: 100%;
}

header {
  margin: 0 auto 0 auto;
}



/* ----------------------------------ヘッダーここから */
.LOGO-TOP {
  display: block;
  width: 200px;
  margin: auto;
  margin-top: 50px;

}

.toggle-menu-button {
  display: none;
}

/* ログインのアイコン */
i.fa-solid {
  color: #2990D6;
}

.login-icon {
  font-size: 120%;
  text-align: right;
  margin-right: 250px;
}

header p a {
  text-decoration: none;
}

header p a {
  color: #111212;
}

header p a:hover {
  color: #2990D6;
}

/* インスタのアイコン */
i.fa-brands {
  color: #db8bbe;
  font-size: 200%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* ナビゲーション */
.site-menu ul li {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 135%;
}

.site-menu ul li a {
  text-decoration: none;
}

.site-menu ul li a {
  color: #111212;
}

.site-menu ul li a:hover {
  color: #2990D6;
}

.site-menu ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 15px;
}


/* ----------------------------------メインここから */

img {
  max-width: 1000px;
  display: block;
  margin: auto;
}

h1 {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: lighter;
  color: #2f69a3;
}

/* ボタン */
.link-button-area {
  text-align: right;
  margin: 0 100px 0 0;
  font-size: 150%;
}

.link-button {
  text-align: center;
  background-color: #2990D6;
  border-radius: 25px;
  display: inline-block;
  min-width: 180px;
  text-decoration: none;
  color: aliceblue;
  padding-left: 20px;
  padding-right: 20x;
}





/* ----------------------------------フッターここから */
.LOGO-FOTTER {
  display: block;
  width: 140px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 25px;
}


.menu-bottom ul li {
  margin-top: 0;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  bottom: 0;
  padding: 100px;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.footer {
  text-align: center;
}

canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#copyright {
  color: #adbbbb;
  text-align: center;
}




/* -----------------------------------------------------------------レスポンシブここから */

@media(max-width:800px) {

  body {
    font-size: 100%;
  }

  img {
    max-width: 350px;
  }

  h1 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  br {
    display: none;
  }

  #waveCanvas {
    display: none;
  }
  .link-button {
    margin-top: 30px;
  }
  .link-button-area{
    margin-right: 0;
  }
  /* ----------------------------------ヘッダーここから */

  .site-menu ul {
    display: block;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: aliceblue;
    height: 60px;
    z-index: 10;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }

  .header-inner {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    position: relative;
  }

  header .LOGO-TOP {
    width: 100px;
    margin-top: 4px;
  }

  .header-site-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(240, 248, 255, 0.748);
    padding-top: 30px;
    padding-bottom: 50px;
    display: none;
  }

  .header-site-menu.is-show {
    display: block;
  }




  /* ---メニューボタン */
  .toggle-menu-button {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
    cursor: pointer;
    background: #2990D6;
    width: 45px;
    height: 45px;
    background-image: url(../images/illust.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }


  .LOGO-TOP {
    margin-top: 10px;
    width: 30%;
  }

  .login-icon {
    text-align: center;
    display: block;
    margin: 10px auto 0 auto;
  }

  .site-menu ul {
    display: block;
    text-align: left;

  }

  .site-menu ul li {
    margin: 5px;
    font-size: 100%;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
  }

  h1 {
    font-size: 120%;
  }


  /* ----------------------------------フッターここから */


  .LOGO-FOTTER {
    display: none;
  }

  footer {
    padding: 36px;
    bottom: 0;
    position: relative;
    bottom: 0;
  }


  .menu-bottom {
    display: none;
  }

}