@charset "utf-8";


/* ----------------------------------トップここから */


.first-view {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}

.decoration img {
  position: absolute;
  top: -10px;
  right: 400px;
  max-width: 90px;
  opacity: 0.3;
}

.decoration2 img {
  position: absolute;
  bottom: -28px;
  left: 400px;
  max-width: 90px;
  opacity: 0.8;
}

.first-view p {
  writing-mode: vertical-rl;
  font-size: 150%;
  position: absolute;
  top: -50px;
  right: 290px;
  text-align: center;
  white-space: nowrap;

  background: linear-gradient(0deg, #58c7ffc7 0%, #0769d9c3 40%, #51aaa3bc 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.illust img {
  max-width: 70%;
  margin-top: 30px;
}

.top-about {
  display: flex;
}

.top-about p {
  margin-top: 70px;
  margin-right: 80px;
  line-height: 1.7em;
}

.news {
  background-image: url(../images/NEWS.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;
  text-align: left;
  font-size: 110%;
  margin-top: 130px;

}

.news-list li {
  margin-top: 40px;
  text-align: center;
  color: #1c608e;
}

.share-memory {
  margin-top: 100px;
}

.share-memory p {
  text-align: center;
  margin: 30px;
}

.shop-area {
  margin-top: 100px;
}

.shop-area h1 {
  text-align: left;
  margin: 10px 0 0 70px;
}

.shop-area p {
  text-align: left;
  margin: 10px 0 0 70px;
}

.recommended {
  padding-top: 45px;
  padding-bottom: 55px;
}

.item-list {
  width: 1200px;
  display: flex;
  margin: auto;
  padding-bottom: 10px;
  padding-right: 60px;
  overflow: scroll;
}

.item-list li {
  list-style-type: none;
  flex-shrink: 0;
  width: 450px;
}

.item-list img {
  width: 80%;
}

.item-list p,
dt {
  text-align: center;
}

.item-list p {
  font-size: 130%;
}



/* ----------------------------------レスポンシブここから */

@media (max-width:800px) {

  h1 {
    margin-top: 50px
  }

  .first-view {
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;

    background-image: url(../images/main-long.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .first-viewbr {
    display: block;
  }

  .first-view img {
    margin-top: 100px;
    display: none;
  }

  .first-view p {
    font-size: 16px;
    top: 4px;
    right: 187px;
  }

  .decoration2 img {
    display: none;

  }

  .decoration2 img {
    width: 10px;
    display: none;

  }

  .top-about {
    flex-direction: column;
  }

  .top-about p {
    margin-top: 35px;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
  }

  .news {
    margin-top: 80px;
    margin-bottom: 110px;
    min-height: 230px;
  }

  .news-list {
    font-size: 12px;

    width: 350px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    list-style-type: none;
  }

  .news-list li {
    margin-top: 10px;
    line-height: normal;
    text-align: left;

  }

  time {
    color: #111212;
  }

  .share-memory {
    margin-top: 60px;
  }

  .share-memory p {
    font-size: 14px;
    line-height: 2em;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
  }

  .shop-area {
    margin-top: 80px;
  }

  .shop-area h1 {
    margin-left: 40px;
  }

  .item-list {
    width: 340px;
    margin-right: auto;
    margin-left: auto;
  }

  .item-list li {
    width: 220px;
    margin-left: 0;
    margin-bottom: 0px;
  }

  .recommended {
    padding-bottom: 0;
    margin-bottom: 20px;
  }

}